<div class="bg-white py-20 px-16">
  <div class="flex lg:flex-row flex-col items-end justify-between border-t h-[53px]">
    <div class="flex gap-4  items-end ">
      <a href="#" class="text-sm font-normal underline text-black"> Privacy Policy</a>
      <a href="#" class="text-sm font-normal underline text-black"> Terms of Service</a>
      <a href="#" class="text-sm font-normal underline text-black"> Cookies Settings</a>
    </div>
    <span class="text-sm font-normal text-black">
      © 2023 MyEdu. All rights reserved.
    </span>
  </div>
</div>
