ion-content {
  --background: #AB95F9;
}

.shadowed-text {
  text-shadow: 2px 2px 0px #896AF9;
  color: #fff;
  text-align: center;
  font-weight: 900 !important;
}

.hero-img {
  min-width: 90%;
  height: 738px;
  object-fit: cover !important;
  border-radius: 2.5rem;
  @media screen and (min-width: 144px) {
    min-width: 85%;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover !important;
  }
}
.pattern-bg {
  @media screen and (min-width: 1060px) {
    background-image: url("../../../assets/imgs/pattern-bg.svg");
  }
  background-color: #FFF9E6;
  background-repeat: no-repeat;
  background-size: cover;
}
