<header class="flex w-[100%] items-center justify-start h-[96px] py-8 pt-8 px-28 ms:px-4">
  <span>
    <ion-img src="assets/imgs/logo.svg" />
  </span>
</header>
<ion-content [fullscreen]="false">
  <div class="content py- p-4 flex flex-col items-center justify-center mx-auto">
    <h2 class="shadowed-text mb-6 max-w-[800px] font-huge">Discover the magic of our surprise box</h2>
    <p class="text-center max-w-[800px] text-2xl text-white">
      Unleash your child's curiosity with our educational subscription box filled with fun and learning.
    </p>

    <ion-button class="h-[70px] my-6 rounded-lg">Subscribe Now</ion-button>
    <ion-img src="assets/imgs/placeholder.svg" class="hero-img mt-16 mb-20"
      alt="video placeholder" />
  </div>
</ion-content>
<ion-content></ion-content>
